---
title: "What we've been reading in September"
author: Suri Patel
author_gitlab: suripatel
author_twitter: gitlab
categories: culture
image_title: '/images/blogimages/septemberreading.jpg'
description: "We've been busting out our bookmarks this month – discover what we've
been reading."
tags: inside GitLab
ee_cta: false
twitter_text: "September reads from the @gitlab team"
---
To get back into the swing of things after our [recent summit](/2018/09/14/gitlab-summit-cape-town-recap/),
we've been reading. Here's what we've been discussing on Slack:

### [I just deployed a serverless app – and I can't code. Here's how I did it](https://medium.freecodecamp.org/i-just-deployed-a-serverless-app-and-i-cant-code-here-s-how-i-did-it-94983d7b43bd).

[Erica Lindberg](/company/team/#EricaLindberg_), Content Marketing Manager, raves about
this Medium article,
saying "I loved this article, and this woman might be my new hero."

### [High Growth Handbook](https://www.amazon.com/High-Growth-Handbook-Elad-Gil/dp/1732265100)

[Sid Sijbrandij](/company/team/#sytses), CEO, is currently reading and loving
this insightful playbook.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "b" } %>

### [The Design of Everyday Things](https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654/ref=sr_1_1?ie=UTF8&qid=1536093671&sr=8-1&keywords=The+Design+of+Everyday+Things%3A+Revised+and+Expanded+Edition)
[Jeremy Watson](/company/team/#d3arWatson), Product Manager, has been rereading this
powerful book, saying
"It's a constant reminder to practice mindfulness in the things we ship at GitLab, and to make
sure we're adding features to the product that are consciously designed. The book
always serves as a reminder that we're all designers; it's our collective
responsibility to ensure that we're intentionally solving the right problems for our users."

### Go 2 Draft Designs

[Eric Johnson](/company/team/#edjdev), VP of Engineering, has been reading about the
big news: [Generics in Golang 2.0](https://blog.golang.org/go2draft)! Woohoo!

### [Storytelling with Data: A Data Visualization Guide for Business Professionals](https://www.amazon.com/Storytelling-Data-Visualization-Business-Professionals/dp/1119002257)

[Emilie Burke](/company/team/#emilielimaburke), Data Analyst, has been enjoying
this riveting read,
and says, "In my role as a data analyst, I spend a lot of time helping different
teams understand what the data they're collecting or using mean. Clear
context, useful narratives, and consistent visuals help me empower stakeholders
to make data-driven decisions."

[Cover image](https://unsplash.com/photos/XT-o5O458as?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) by [Ugur Akdemir](https://unsplash.com/@ugur), licensed
under [CC X](https://unsplash.com/license)
{: .note}
