---
layout: default
title: Case studies from GitLab customers
suppress_header: true
description: Customers share how they've been able to shorten the software development lifecycle while using GitLab
extra_css:
  - customers.css
extra_js:
  - libs/select2.min.js
  - customers.js
---

= partial "includes/customers/landing", locals: { form_landing: false }

.page-container.focus-customer-story.u-padding-top-lg.u-padding-bottom-lg
  .container
    .row
      .col-md-5.u-padding-top-xs
        %img.solution-logo{ src: "/images/case_study_logos/paessler-logo.svg", alt: "Paessler logo", width: 230 }

        %h3 Paessler AG switches from Jenkins and ramps up to 4x more releases

        %p.customer-lead Helping customers monitor their entire IT infrastructure 24/7, Paessler AG keeps up with this fast-moving field with GitLab for version control and continuous delivery.

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/paessler/" } Read More

      .col-md-6.col-md-offset-1
        .annotated-image-container
          %img.u-rounded{ src: "/images/customers/paessler-spot-image.jpg", alt: "Gitlab paessler spot image jpg" }
          .annotation.annotation--sw
            .annotation-content
              %strong 4x
              more releases

    .row.u-margin-top-lg
      .col-md-12
        %blockquote.customer-quote
          .quote-meta
            %cite.quote-attribution
              Greg Campion
              %span.quote-attribution-title Senior Systems Administrator
          .quote-body
            %p.quote-text
              “The amount of effort involved in actually getting to the newest version that you’re supposed to be testing, whether you’re a developer or a QA engineer, is minimized immensely.”


= partial "includes/customers/customer-stories"

.customers-marketplace-background
  .flex-container
    .cta-container
      %img.icon{ src: "/images/press/get-in-touch-icon.svg", alt: "Gitlab get in touch icon svg" }
      %h4.margin-top20
        Case studies of GitLab customers sharing their accomplishments — in their own words
      %a.btn.cta-btn.orange.margin-top20{ href: "/customers/marketplace/" }
        Learn more
    .image-container{ style: "background: url('/images/customers/customers-marketplace.png') center center no-repeat" }

= partial "includes/customers/gallery"
